* {
  box-sizing: border-box;
}
@media only screen and (min-width: 401px) {
  body {
    display: none;
  }
}
@media only screen and (max-width: 400px) {
  body {
    background-color: #fed337;

    background-size: cover;
  }
}

.bi-list {
  color: white;
}

.dropdown-menu {
  background-color: #7d498e;
}
.dropdown {
  background-color: #7d498e;
}

.dropdown a {
  background-color: #7d498e;
  color: white;
}

.btn {
  background-color: #7d498e;
  border-color: #7d498e;
  margin: 0.5rem;
}

.btn:focus {
  background-color: #7d498e;
  border-color: #7d498e;
}
.btn-primary:focus {
  background-color: #7d498e;
  border-color: #7d498e;
}
.btn:active {
  background-color: #7d498e;
  border-color: #7d498e;
}
